* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    margin:auto;    
}
/*Navigation*/
.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand {
    margin-top: 10px;
}
/* Nav Left */
.nav-main ul {
    display: flex;
}
.nav-main ul li {
    padding: 25px;
}
.nav-main ul li a {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid black ;
    background-color: #42ff00;
}
.nav-main ul.nav-menu {
    flex: 1; 
    margin-left: 50px;
}
.nav-menu-right span {
    margin: 10px;
}
#cuenta-carrito {
    padding: 15px;
    background-color: #ae6bf2;
    border-radius: 100%;

}
.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    color: #ae6bf2;
    font-size: 1.4rem;
    display: none;
}    
/* Buscador */

#searchthis #search-btn{display:none;}
#searchthis #search-box{
background: transparent;
color:#42ff00;
height:30px;
float: center;
width: 70%;
letter-spacing: 2px;
text-align:left;
border-bottom-color: #42ff00;
border-width: 10px;
border-left: none;
border-right: none;
border-top:none;
margin-bottom: 20px;
margin-left: 15%;
}

/* Posts */

.post1{
    text-align:center;
    background: linear-gradient(to right,#ae6bf2,white);
    margin-top: -5px;
    height: 700px;
    padding-top: 50px;
}
.post2{
    text-align: center;
    background: linear-gradient(to right, white,#42ff00);
    height: 700px;
    padding-top: 50px;
}
.post3{
    text-align: center;
    background: linear-gradient(to right,#ae6bf2,white);
    height: 700px;
    padding-top: 50px;
}
.post1 h2,.post1 p,.post2 h2,.post2 p,.post3 h2,.post3 p {
    text-align: left;
    margin-left: 10%;
}
.post1 a img,.post2 a img, .post3 a img {
    height: 500px;
    width: 500px;
}
.post4 {
    margin-top: 25px;
}
.post4 a img{
    height: 250px;
    width: 250px;
    margin-top: 40px;
}
.post5 a img {
    height: 700px;
    width: 700px;
}
.post6 {
    line-height: 2;
}
.post6>img,.post6>aside>img,.post6>aside>a>img {
    border-radius: 10px;
    display: inline;
}
.reproductor{
    margin-left: 15px;
}
aside>h3 {
    display: flex;
    justify-content: right;
}
aside>a {
    display: flex;
    justify-content: right;
}
.compra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10%;
}
.compra2 {
    
    align-items: flex-start;
    justify-content: center;
    margin-left: 10%;
}
.pre-escucha {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
}
/* Carrusel */
.container-slider {
    width: 90%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    box-shadow:  0 0 0 2px #ae6bf2,
                 0 15px 50px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 80px;
    }
.slider {
    display: flex;
    width: 1200%;
    height: 600px; 
    margin-left: -100%;   
}
.slider__section {
    width: 100%
}
.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background:#42ff00;
    opacity: .4;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}
.slider__btn:hover {
    background: #ae6bf2;
}
.slider__btn--left {
    left: 10px;
}
.slider__btn--right {
    right: 10px;
}


/* Social */

.social {
    margin: 50px;    
}
.social p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
}
.links a i {
    font-size: 2.5rem;
}
 /* Footer links*/

 .footer-links{
    background: #42ff00;
    padding: 30px 0;
    font-size: 14px;
 }
 .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
 }
.footer-container ul{
    margin: 0 auto;

}
.footer-container ul li {
    line-height: 1.8;
}
footer {
    background: black;
    color: lightgrey;
    padding: 30px 0;
    text-align: center;
    font-size: 14px ;

}
/* Estilo de la galería de videos de Youtube */

.video-container {
    max-width: 99%;
    margin: 1px auto;
    display: flex;
    flex-direction: column;
  }
  
  #current-video {
    height: 760px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }
  
  .video-list iframe {
    width: 100%;
    height: 460px;
  }

/*Cesta*/



/*Cesta 4*/
  #productos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  justify-content: center;
}
.tarjeta-producto{
    background-color: var(--color-acento-claro);
    text-align: center;
    padding: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: 200ms;
  }
  
  .tarjeta-producto:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    translate: 0px -5px;
  }
  
  .tarjeta-producto img{
    max-width:100%;
    /*aspect-ratio: 1.5;*/
  }
  
  .precio{
    font-weight: 600;
  }
  
  .tarjeta-producto button{
    font-size: larger;
    background-color: black;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    border: 2px solid #42ff00;
    cursor:pointer;
  }
/* Cart */


/*Media Query 1180*/
@media (max-width:1220px) {
    
.nav-main ul li {
    padding: 5px;
}
   
.nav-main ul.nav-menu {
    flex: 1; 
    margin-left: 5px;
}
    
    /*.nav-menu-right span {
    float: right;
    }*/
}
/*Media Query 850*/

@media (max-width: 910px) {
    .nav-menu-right {
        font-size: 11px;
    }
    .menu-btn {
        display: block;
        margin: 0px -5px;

    }
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: whitesmoke;
        height: 50%;
        padding: 30px 0;
        opacity: 0.85;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;        
    }
    .nav-main ul.nav-menu.show {
        transform: translateX(-45px);        

    }

   .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: black solid 1px;

   }
   .container-slider {
    width: 90%;
    max-width: 400px;
   }
   .slider {
    height: 400px;
   }
    .post1, .post2, .post3 {
        height: 500px;
    }
    
    .post1 a img,.post2 a img, .post3 a img {
    height: 350px;
    width: 350px;
    }
    .post1 h2,.post1 p,.post2 h2,.post2 p,.post3 h2,.post3 p {
        font-size: 14px;
    }
    .post4 {
        font-size: 12px;
    }
    .post4 a img{
        height: 150px;
        width: 150px;
    }
    .post5 a img {
        height: 400px;
        width: 400px;
    }
    .post6 {
        font-size: 11px;
        line-height: 2;
    }
    .post6>img,.post6>aside>img,.post6>aside>a>img {
        width: 80px;
        border-radius: 4px;
    }
    .social p {       
        font-size: 18px;
    }
    .links a {
        margin: 0 8px;
    }
    .links a i {
        font-size: 1.5rem;
    }
    .footer-links{
        font-size: 11px;
    }
    footer {
        font-size: 13px ;
    }       
}

/*Media Query 550*/

@media (max-width: 550px) {
   
    .nav-menu-right {
        padding: 15px;
        font-size: 11px;

    }
    .nav-menu-right span {
        margin: 60px;
    }
    .container-slider {
        width: 90%;
        max-width: 250px;
       }
       .slider {
        height: 250px;
       }
    .post1, .post2, .post3 {
        height: 400px;
    }
    
    .post1 a img,.post2 a img, .post3 a img {
    height: 250px;
    width: 250px;
    }
    .post1 h2,.post1 p,.post2 h2,.post2 p,.post3 h2,.post3 p {
        font-size: 12px;
    }
    .post4 {
        font-size: 10px;
    }
    .post4 a img{
        height: 100px;
        width: 100px;
    }
    .post5 a img {
        height: 200px;
        width: 200px;
    }
    .post6 {
        font-size: 8px;
        line-height: 1.5;
    }
    .post6>img,.post6>aside>img,.post6>aside>a>img {
        width: 60px;
        border-radius: 4px;
    }
    .reproductor{
        margin-left: 0px;
        min-width: 250px;
    }
    .social p {       
        font-size: 15px;
    }
    .links a i {
        font-size: 1rem;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr ;
        justify-content: left;

    }
    
}

/* Estilo de la galería de videos de Youtube */

.video-container {
    max-width: 1440px;
    margin: 1px auto;
    display: flex;
    flex-direction: column;
  }
  
  #current-video {
    height: 700px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }
  
  .video-list iframe {
    width: 100%;
    height: 400px;
  }
